<?xml version="1.0" encoding="UTF-8"?>
<web-app 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://java.sun.com/xml/ns/javaee" 
		xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
		id="WebApp_ID" version="3.0">

	<display-name>Roboconf :: Web Administration</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Our own servlet -->

	<servlet>
		<servlet-name>roboconf-web-admin-interception-servlet</servlet-name>
		<servlet-class>net.roboconf.dm.web.administration.WebAdminInterceptionServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Intercept some requests -->

	<servlet-mapping>
		<servlet-name>roboconf-web-admin-interception-servlet</servlet-name>
		<url-pattern>img/logo_roboconf_2.jpg</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>roboconf-web-admin-interception-servlet</servlet-name>
		<url-pattern>roboconf.min.css</url-pattern>
	</servlet-mapping>
	
	<!-- Protect some resources (the servlet will return 403) -->

	<servlet-mapping>
		<servlet-name>roboconf-web-admin-interception-servlet</servlet-name>
		<url-pattern>metadata.txt</url-pattern>
	</servlet-mapping>

	<!-- Default servlet -->

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>img/*</url-pattern>
		<url-pattern>templates/*</url-pattern>
		<url-pattern>lib/*</url-pattern>
		<url-pattern>*.(html|css|js|ico|jpg)</url-pattern>
	</servlet-mapping>

	<!-- Error page -->

	<error-page>
		<error-code>404</error-code>
		<location>/error.html</location>
	</error-page>
</web-app>
